<section class="courses-item">
  <h2 class="font-bold text-lg truncate" title="{{ wishItem.courseName }}">
    {{ wishItem.courseName }}
  </h2>
  <section class="flex items-center space-x-2 my-2 justify-between">
    <section class="flex items-center space-x-2">
      <fa-icon [icon]="faUser"></fa-icon>
      <p class="text-sm">{{ wishItem.author }}</p>
    </section>
    <p *ngIf="wishItems.includes(wishItem)" class="text-yellow-400">★</p>
  </section>
  <!-- start price -->
  <section class="flex items-center space-x-2">
    <!--if there is no discount show actual price -->
    <p
      class="font-bold"
      *ngIf="convertToNumber(wishItem.discountPercentage) <= 0; else discounted"
    >
      {{ wishItem.actualPrice }}
    </p>
    <!-- else del the actual price -->
    <ng-template #discounted>
      <p class="font-light">
        <del>{{ wishItem.actualPrice }}</del>
      </p>
    </ng-template>

    <!-- show discounted price if there is a discount -->
    <p class="font-bold" *ngIf="convertToNumber(wishItem.discountPercentage) > 0">
      ₹{{
        (convertToNumber(wishItem.actualPrice.slice(1)) *
          (100 - convertToNumber(wishItem.discountPercentage))) /
          100
      }}
    </p>
  </section>
  <!-- end price -->
  <p class="my-1">[{{ wishItem.tags }}]</p>
  <section class="space-x-2 mt-3">
    <button
      class="bg-indigo-600 py-1 px-2 capitalize rounded-md text-white hover:bg-indigo-700 transition-all duration-150"
      (click)="moveCourseFromWishToCart(wishItem)"
    >
      add to cart
    </button>
    <button
      class="bg-red-600 py-1 px-2 capitalize rounded-md text-white hover:bg-red-700 transition-all duration-150"
      (click)="openDialog(wishItem)"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </section>
</section>
