<section class="courses-item">
  <h2 class="font-bold text-lg truncate" title="{{ cartItem.courseName }}">
    {{ cartItem.courseName }}
  </h2>
  <section class="flex items-center space-x-2 my-2">
    <!-- <fa-icon [icon]="faUser"></fa-icon> -->

    <p class="text-sm">{{ cartItem.author }}</p>
  </section>
  <section class="flex items-center space-x-2">
    <p class="font-bold">{{ cartItem.actualPrice }}</p>
    <p
      class="text-sm font-semibold bg-yellow-400 rounded-full w-fit flex items-center justify-center py-1 px-2"
    >
      {{ cartItem.discountPercentage }}
    </p>
  </section>
  <p class="my-1">[{{ cartItem.tags }}]</p>
  <section class="space-x-2 mt-3">
    <button
      class="bg-indigo-600 py-1 px-2 capitalize rounded-md text-white hover:bg-indigo-700 transition-all duration-150"
      (click)="removeCourseFromCart(cartItem)"
    >
      remove
    </button>
    <button
      class="bg-red-600 py-1 px-2 capitalize rounded-md text-white hover:bg-red-700 transition-all duration-150"
    >
      add to wishlist
    </button>
  </section>
</section>
