<section class="p-2">
  <h2 class="font-bold text-lg truncate" title="{{ cartItem.courseName }}">
    {{ cartItem.courseName }}
  </h2>
  <section class="flex items-center space-x-2 my-2">
    <!-- <fa-icon [icon]="faUser"></fa-icon> -->

    <p class="text-sm">{{ cartItem.author }}</p>
  </section>
  <!-- start price -->
  <section class="flex items-center space-x-2">
    <!--if there is no discount show actual price -->
    <p
      class="font-bold"
      *ngIf="convertToNumber(cartItem.discountPercentage) <= 0; else discounted"
    >
      {{ cartItem.actualPrice }}
    </p>
    <!-- else del the actual price -->
    <ng-template #discounted>
      <p class="font-light">
        <del>{{ cartItem.actualPrice }}</del>
      </p>
    </ng-template>

    <!-- show discounted price if there is a discount -->
    <p class="font-bold" *ngIf="convertToNumber(cartItem.discountPercentage) > 0">
      ₹{{
        (convertToNumber(cartItem.actualPrice.slice(1)) *
          (100 - convertToNumber(cartItem.discountPercentage))) /
          100
      }}
    </p>
  </section>
  <!-- end price -->
  <p class="my-1">[{{ cartItem.tags }}]</p>
  <section class="space-x-2 mt-3">
    <button
      class="bg-indigo-600 py-1 px-2 capitalize rounded-md text-white hover:bg-indigo-700 transition-all duration-150"
      (click)="moveCourseFromCartToWish(cartItem)"
    >
      add to wishlist
    </button>
    <button
      class="bg-red-600 py-1 px-2 capitalize rounded-md text-white hover:bg-red-700 transition-all duration-150"
      (click)="openDialog(cartItem)"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </section>
</section>

<!-- (click)="removeCourseFromCart(cartItem)" -->
